PORT=3000

# Cassandra configuration
CASSANDRA_CONTACT_POINTS=127.0.0.1
CASSANDRA_PORT=9042
CASSANDRA_LOCAL_DATA_CENTER=datacenter1
CASSANDRA_KEYSPACE=storage
CASSANDRA_USERNAME=cassandra
CASSANDRA_PASSWORD=cassandra
# Optional for migrations bootstrap
# CASSANDRA_REPLICATION_FACTOR=1
